* {
    box-sizing: border-box;
}
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
ul.carousal-list {
    overflow: hidden;
}
ul.carousal-list li {
    float: left;
    width: 12%;
    height: 250px;
}
ul.carousal-list li img {
    width: 100%;
}
